.aliados-section > h2{
    /*text-align: center;*/
    color: #80BB4A;
    font-size: 45px;
    margin-bottom: 30px;
}
.aliados-section h2 strong{
    color: #3A519E;
}






.aliados-section {
    position: relative;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 50px;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: grid;
    grid-template-columns: 1fr; /* Solo un grupo visible a la vez */
}

.image-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Muestra 4 imágenes por fila */
    gap: 20px; /* Espacio entre las imágenes */
}

.carousel img {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
}

/* Botones de navegación */
.carousel-btn {
    position: absolute;
    top: 67%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.carousel-btn.prev {
    left: 60px;
}

.carousel-btn.next {
    right: 60px;
}

/* Responsivo para dispositivos móviles */
@media (max-width: 768px) {
    .carousel img {
        max-height: 80px;
    }
}
