



/*CALIFICACIONES HOME */

.Calificaciones {
    background-color: #38509D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    margin-bottom: 15px;
    flex-wrap: wrap; /* Permite que las cajas se reorganicen si no hay suficiente espacio */
}

.Calificaciones > div {
    background-color: #fff;
    padding: 30px 28px;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
}

.Calificaciones > div > h4 {
    font-size: 50px;
    color: #80BB4A;
}

.Calificaciones > div > p {
    font-size: 15px;
    color: #38509D;
}

/* Animación desde abajo */
@keyframes aparecerDesdeAbajo {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplicar estilos iniciales para que estén ocultos antes de la animación */
.Calificaciones > div {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.1s ease, transform 0.1s ease;
}

/* Clase para activar la animación */
.aparecer {
    opacity: 1;
    animation: aparecerDesdeAbajo 1s ease forwards;
}








/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    

    .Calificaciones > div {
        width: 70%; /* Ajuste de ancho para pantallas pequeñas */
    }

    .Calificaciones > div > h4 {
        font-size: 40px; /* Tamaño de fuente más pequeño */
    }

    .Calificaciones > div > p {
        font-size: 14px;
    }
}

/* Media query para pantallas aún más pequeñas (móviles) */
@media (max-width: 480px) {
    .Calificaciones > div > h4 {
        font-size: 30px;
    }

    .Calificaciones > div > p {
        font-size: 12px;
    }
}

/* @media (max-width: 768px) {
    .Calificaciones{
        padding: 20px 0px;   
    }
    .Calificaciones > div{
        padding: 20px 15px;
        width: 130px;
    }
    .Calificaciones > div > h4{
        font-size: 30px;
    }
    .Calificaciones > div > p{
        font-size: 10px;
    } 

}*/