/*SECCION 1 EN HOME */
.Seccion1{
    display: flex;
    padding-top: 2px;
    /* background-color: yellow; */
}
.Seccion1 > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.div-Seccion-1{
    width: 50%;
    /* background-color: orange; */
    padding: 40px;
}
.div-Seccion-1 > div{
    /* background-color: brown; */
    width: 100%;
    text-align: center;
}
.div-Seccion-1 > div > a{
    padding: 10px 20px;
    border-radius: 45px;
    cursor: pointer;
    text-decoration: none;
}
.Seccion1 > div > img{
    width: 90%;
    margin: 0px 20px;
    margin-left: 40px;
}

#imgdescripcion{
    margin-left: 55px;
    margin-bottom: 20px;
}

.div-Seccion-2{
    width: 50%;
    
}


.button-leer{
    background-color: #80BB4A;
    color: #fff;
    font-weight: bold;
    border: none;
    margin-right: 20px;
}
.button-contactanos{
    color: #3A519E;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid #3A519E;

}


/*SECCION 2 HOME*/

.Seccion2{
    display: flex;
    /* background-color: yellow; */
}
.Seccion2 > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.div-Seccion-3{
    width: 50%;
    /* background-color: orange; */
    padding: 40px;  
}
.div-Seccion-3 > img{
    /* background-color: #80BB4A; */
    /* padding: 10px; */
    box-shadow: -10px 10px #3A519E;
}

.div-Seccion-3 > div{
    /* background-color: brown; */
    width: 100%;
    text-align: center;
}
.div-Seccion-3 > div > button{
    padding: 10px 20px;
    border-radius: 45px;
    cursor: pointer;
}
.Seccion2 > div > img{
    width: 100%;
}

.div-Seccion-4{
    width: 50%;
    /* background-color: yellow;  */
    padding: 0px 40px;  
}
.div-Seccion-4 > h4{
    
    color: #3A519E;
    font-weight: 400;
    font-size: 22px;
    
}
.div-Seccion-4 > h1{
    color: #80BB4A;
    font-size: 50px;
    padding: 20px 0px;
    padding-right: 20px;

}

.div-Seccion-4 > p{
    color: #3A519E;
    text-align: justify;
    padding-right: 45px;
    padding-bottom: 35px;
    line-height: 2;
}

.button-somos{
    /* background-color: olivedrab; */
    width: 100%;
    text-align: center;
}

.leer-somos{
    color: #3A519E;
    font-weight: bold;
    border: 1px solid #3A519E;
    padding: 10px 20px;
    border-radius: 45px;
    cursor: pointer;
    background-color: #fff;
    text-decoration: none;
}
/*SECCION 3 HOME*/

.Seccion3{
    /* background-color: yellow;  */
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.Seccion3 > h2{
    text-align: center;
    color: #3A519E;
    font-size: 45px;
    TEXT-DECORATION: UNDERLINE;
    TEXT-UNDERLINE-OFFSET: 20PX;
    TEXT-DECORATION-COLOR: #38509D;

    margin-bottom: 28px;
}
.Seccion3 > h2 > strong{
    color: #80BB4A;
}

.Seccion3 > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}


.div-Seccion-5{
    /* background-color: olivedrab; */
    margin: 40px;
    text-align: center;
    width: 480px;
    padding-bottom: 25px;
    box-shadow: 0px 1px 1px 2px rgb(238, 234, 234);
}
.div-Seccion-5 > p{
    text-align: left;
    padding: 20px 30px;
    text-align: justify;
}
.div-Seccion-5 > h3{
    padding: 15px 0px;
    color: #80BB4A;
    font-size: 24px;
}

.div-Seccion-5 > img{
    padding-bottom: 10px;
    width: 100%;
}

.somos{
    background-color: #80BB4A;
    color: #fff;
    border: none;
}







/* CSS Responsivo para dispositivos más pequeños */
@media (max-width: 768px) {
    #imgdescripcion {
        margin: 20px 55px;
    }
    /* SECCION 1 */
    .Seccion1 {
        flex-direction: column;
        padding-top: 10px;
    }
    .div-Seccion-1, .div-Seccion-2 {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .Seccion1 > div > img {
        width: 80%;
        margin: 0 auto;
    }

    /* SECCION 2 */
    .Seccion2 {
        flex-direction: column;
    }
    .div-Seccion-3 {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .Seccion3 > h2 {
        font-size: 30px;
    }

    .div-Seccion-4 > h4 {
        font-size: 18px;
    }
    .div-Seccion-4 > h1 {
        font-size: 30px;
        padding: 10px 0;
        text-align: left;
    }
    .div-Seccion-4 > p {
        padding-right: 0;
    }

    /* SECCION 3 */
    .Seccion3 > div {
        flex-direction: column;
        align-items: center;
    }
    .div-Seccion-5 {
        width: 62%;
        margin: 20px;
    }

   
    .Seccion2 > div > img {
        width: 70%;
        margin: 0 auto;
    }

    .div-Seccion-4 {
        width: 100%;
        padding: 35px 12%;
        text-align: center;
    }
}



