*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat";
}


.headerTop{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    box-shadow: 1px 1px 1px 1px #00000044;
    
}
.imgLogo{
    width: 245px;
    height:50px ;
    margin-left: 50px;
    /* background-color: rebeccapurple; */
}
nav{
    /* background-color: greenyellow; */
    margin-right: 0px;
    width: 60vw;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* background-color: aqua;   */
    list-style: none;

}
nav > ul > li{
    margin-right: 50px;
    /* background-color: red;  */
    
}

nav > ul > li > a{
    font-size: 16px;
    color: #38509D;
    text-decoration: none;
    font-weight: 500;
}

nav > ul > li > a.active {
    color:#82BC49; /* Cambia esto al color que prefieras */
    font-weight: bold; /* Opcional: Para resaltar el enlace activo */
}
/* Botón de hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.hamburger span {
    background: #38509D;
    height: 3px;
    width: 25px;
    margin: 4px;
    transition: 0.3s;
    /* padding: 5px; */
}

/*footer*/

footer{
    background-color: #38509D;
    
    color: #fff;
}
.SeccionFooter-One{
    display: flex;
    justify-content: space-between;
    padding: 40px 85px;
}

.SeccionFooter-Two{
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    
}
.SeccionFooter-Two > div > p{
    font-size: 12px;
}

.SeccionFooterLinea{
    display: flex;
    justify-content: center;
}

.SeccionFooterLinea > div{
    border-top: 1px solid;
    width: 90vw;
    padding: 5px 10px;
   
}

.informacionFooter > h4{
    padding-bottom: 5px;
}

.informacionFooter > div{
    padding: 10px 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.informacionFooter > div > img{
    margin-right: 10px;
}

.informacionFooter > div > a{
    color: #fff;
    text-decoration: none;

}
.redes > h4{
    padding-bottom: 20px;
}
.redes > div > a > img{
   padding-right: 5px;
   width: 30px;
   height: 25px;
}
.LogoFooter{
    /* background-color: yellow;   */
    display: flex;
    align-items: center;
}

.LogoFooter > img{
    width: 300px;
}

.bloque{
    padding: 0px;
    margin: 0px;
    background-color: aqua;
}

/* Código existente */

/* Estilos para el menú desplegable */
nav ul li {
    position: relative; /* Necesario para posicionar el dropdown */
}

.dropdown {
    display: none; /* Ocultar por defecto */
    position: absolute; /* Posicionar absolutamente respecto al elemento padre */
    top: 100%; /* Colocarlo debajo del elemento padre */
    left: 0; /* Alinear a la izquierda */
    background-color: white; /* Color de fondo del menú */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra del menú */
    z-index: 1000; /* Asegura que se muestre sobre otros elementos */
}

nav ul li:hover .dropdown {
    display: block; /* Mostrar el dropdown al pasar el mouse */
    
}

.dropdown li {
    width: 200px; /* Ancho de los enlaces del dropdown */
}

.dropdown a {
    padding: 10px; /* Espaciado interno */
    display: block; /* Hacer que el enlace ocupe todo el ancho */
    color: #38509D; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}

.dropdown a:hover {
    background-color: #f8f4f4; /* Color de fondo al pasar el mouse */
}
#chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}
/*ventana del chatbot*/
#chatbot-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px;
    max-height: 420px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
}

#chatbot-window.show-chatbot {
    display: flex;
}

#chatbot-header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
#chatbot-header > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chatbot-messages {
    padding: 15px;
    overflow-y: auto;
    max-height: 400px;
    min-height: 240px;
    background-color: #fff;
    font-size: 12px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}






/* Estilo para los mensajes del bot */
.bot-message {
    text-align: left;  /* Los mensajes del bot a la izquierda */
    padding: 10px;
    background-color: #80BB4A;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 80%;
    position: relative; /* Necesario para posicionar la colita */
}

/* Agregar la colita al mensaje del bot */
.bot-message::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;  /* Posiciona la colita a la izquierda */
    border-right: 10px solid #80BB4A; /* Color de la colita (igual que el fondo del mensaje) */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transform: translateY(-50%);  /* Centra verticalmente la colita */
}



/* Estilo para los mensajes del bot */
.mensaje-bot {
    text-align: justify;  /* Los mensajes del bot a la izquierda */
    padding: 10px;
    background-color: #80BB4A;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: max-content;
    position: relative; /* Necesario para posicionar la colita */
}

/* Agregar la colita al mensaje del bot */
.mensaje-bot::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;  /* Posiciona la colita a la izquierda */
    border-right: 10px solid #80BB4A; /* Color de la colita (igual que el fondo del mensaje) */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transform: translateY(-50%);  /* Centra verticalmente la colita */
}










.presentacion-chatbot{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
    max-width: 800%;
    align-self: flex-end;
}

#chatbot-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    justify-content: center;
    align-items: center;
}

#chatbot-input input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

}


#chatbot-input img {
    margin-right: 8px;
    
}

#chatbot-input button {
    padding: 10px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.chat-fercito-logo{
    width: 25px;
    margin-right: 7px;
}
.closebutton{
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.options {
    margin-top: 10px;
}

.option-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
}

.option-button:hover {
    background-color: #45a049;
}

/* Estilo para los mensajes del usuario */
.mensaje-usuario {
    text-align: justify;  /* Alinea los mensajes del usuario a la derecha */
    padding: 10px;
    background-color: #38509D;  /* Color de fondo para diferenciarlo */
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: max-content;
    margin-left: auto; /* Alineación a la derecha */
    position: relative; /* Necesario para posicionar la colita */
}

/* Agregar la colita al mensaje del usuario */
.mensaje-usuario::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -9px;  /* Posiciona la colita a la derecha */
    border-left: 10px solid #38509D; /* Color de la colita (igual que el fondo del mensaje) */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transform: translateY(-50%);  /* Centra verticalmente la colita */
}



/* Media queries para móviles */
@media (max-width: 768px) {
    nav {
        display: none; /* Ocultar el menú en dispositivos móviles */
        position: absolute;
        top: 110px;
        right: 0;
        background-color: #fff;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 20px;
        /* background-color: blueviolet; */
    }
    .navMenu > ul{
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
    }
    .navMenu > ul > li{
        /* background-color: rgb(26, 162, 204); */
        width: 100%;
        padding: 20px 20px;
        margin: 5px 0px;
    }
    .navMenu > ul > li:hover{
        background-color: rgb(242, 247, 247);
    }
    .navMenu > ul > li >a{
        /* background-color: rgb(238, 255, 0); */
        width: 100%;
    }

    .hamburger {
        display: flex;
        /* background-color: yellow; */
    }

    .navMenu.active {
        display: block; /* Mostrar el menú cuando el botón de hamburguesa está activo */
        /* background-color: orange; */
        
    }
    /*Footer*/
    .SeccionFooter-One {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .LogoFooter img {
        width: 200px; /* Ajusta el tamaño del logo para móviles */
        margin-bottom: 20px;
    }

    .informacionFooter, .redes {
        align-items: center;
        text-align: center;
        padding: 10px 0;
    }

    .informacionFooter > div, .redes > div {
        flex-direction: column; /* Coloca cada sección de contacto en una columna */
        align-items: center;
    }

    .informacionFooter > div > img, .redes > div > a > img {
        margin-bottom: 5px; /* Añade espacio entre icono y texto */
    }

    .SeccionFooter-Two {
        justify-content: center;
        text-align: center;
    }

    .SeccionFooterLinea > div {
        width: 80%; /* Ajusta el ancho de la línea divisoria */
    }
}